In [1]:
# import pandas first!
import pandas as pd

In [2]:
#load csvs
listingsdf = pd.read_csv('menu_data.csv')
listingsdf.shape

(32, 5)

In [3]:
listingsdf.head()

,item,category,description,price,cost
0,edamame,appetizers,"boiled soybeans, maldon sea salt",4.0,1
1,house salad,appetizers,"mixed greens, cherry tomatoes, cucumber, house...",4.0,2
2,cucumber sunomono salad,appetizers,"cucumber, ponzu dressing, pickled ginger sprou...",5.0,2
3,hiyashi wakame seaweed salad,appetizers,"sweet soy-marinated wakame seaweed threads, pi...",5.0,2
4,agedashi tofu,appetizers,"tempura battered tofu, katsuobushi, tsuyu brot...",5.0,2

In [4]:
#load sales data
sales = pd.read_csv('sales_data.csv')

sales.head()

   Line_Item_ID      Date  Credit_Card_Number  Quantity             Menu_Item
0             1  1/1/2017        7.437930e+15         1      spicy miso ramen
1             2  1/1/2017        7.437930e+15         1      spicy miso ramen
2             3  1/1/2017        8.421920e+15         3     tori paitan ramen
3             4  1/1/2017        8.421920e+15         3     tori paitan ramen
4             5  1/1/2017        4.787310e+15         1  truffle butter ramen

In [5]:
#how many rows
len(sales)

74124

In [ ]:
#rename columns for merging
listingsdf = listingsdf.rename({'Listing':'Product'}, axis='columns')
listingsdf